{% extends base_template %}
{% load static %}
{% block content %}
{% load i18n %}

    <!-- start breadcrumb area -->
   <!-- start breadcrumb area -->
   <div class="rts-breadcrumb-area breadcrumb-bg bg_image" style="background: url({% static 'images/banner.png' %}); ">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                <h1 class="title">{% trans 'Contactez-nous' %}</h1>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="bread-tag">
                    <a href="{% url 'core:index' %}">{% trans 'Acceuil' %}</a>
                    <span> / </span>
                    <a href="{% url 'core:contact' %}" class="active">{% trans 'Contactez-nous' %}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb area -->

<!-- contact single area start -->
<div class="rts-contact-area rts-section-gap">
    <div class="container">
        <div class="row g-5">
            <!-- single contact area -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-contact-one-inner">
                    <div class="thumbnail">
                        <img src="{% static 'images/1.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="icone">
                            <img src="{% static 'images/contact/shape/01.svg' %}" alt="">
                        </div>
                        <div class="info">
                            <span>{% trans 'Appelez-nous' %}</span>
                            <a href="tel:+18475555555">
                                <h5> {{business.phone}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single contact area end -->
            <!-- single contact area -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-contact-one-inner">
                    <div class="thumbnail">
                        <img src="{% static 'images/2.png' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="icone">
                            <img src="{% static 'images/contact/shape/02.svg' %}" alt="">
                        </div>
                        <div class="info">
                            <span>{% trans 'écrivez-nous' %}</span>
                            <a href="mailto:{{business.email}}">
                                <h5>{{business.email}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single contact area end -->
            <!-- single contact area -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12">
                <div class="single-contact-one-inner">
                    <div class="thumbnail">
                        <img src="{% static 'images/3.jpg' %}" alt="">
                    </div>
                    <div class="content">
                        <div class="icone">
                            <img src="{% static 'images/contact/shape/03.svg' %}" alt="">
                        </div>
                        <div class="info">
                            <span>{% trans 'Adresse' %}</span>
                            <a href="{{business.address_link}}">
                                <h5>{{business.address}}</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- single contact area end -->
        </div>
    </div>
</div>
<!-- conact single area end -->

<!-- bizup map area start -->
<div class="rts-contact-map-area">
    <div class="contaciner-fluid">
        <div class="row">
            <div class="col-12">
                <div class="contact-map-area-fluid">
                    {{business.google_maps|safe}}
                    <img class="location" src="{% static 'images/logo.png' %}" alt="Business_map" style="width:50%;">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bizup map area end -->


<!-- conact us form fluid start -->
<div class="rts-contact-form-area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="rts-contact-fluid rts-section-gap">
                    <div class="rts-title-area contact-fluid text-center mb--50">
                        <p class="pre-title">
                            {% trans 'Entrons en contact' %}
                        </p>
                        <h2 class="title">{% trans "Besoin d'aide ? Contactez-nous" %}</h2>
                    </div>
                    <div class="form-wrapper">
                        <div id="success-message">
                            {% include 'message.html' %}
                        </div>
                        <form method="post" action="{% url 'core:contact' %}" >
                            {% csrf_token %}
                            <div class="name-email">
                                <input type="text" name="name" placeholder="{% trans "Nom complet" %} * " required>
                                <input type="text" name="entreprise" placeholder="{% trans "Entreprise" %}">
                            </div>
                            <div class="name-email">
                                <input type="text" name="phone" id="id_phone"  placeholder="{% trans 'Numéro +213*' %}" pattern="^(?:0|\(?\+213\)?\s?|00213\s?)[1-79](?:[\.\-\s]?\d\d){4}$" required>
                                <input type="email" name="email" placeholder="{% trans "Email Address" %}" >
                            </div>
                            <select name="service" id="id_service" class="select-form" placeholder="{% trans 'Sélectionnez un service' %}">
                                {% for service in services %}
                                    <option value="{{service.id}}">{{service.name}}</option>
                                {% endfor %}
                                <option value="">{% trans 'Autre...' %}</option>
                            </select>
                            <textarea placeholder="{% trans "Type Your Message" %}" name="message"></textarea>
                            <input type="text" name="username" id="username" hidden="true" >
                            <button type="submit" class="rts-btn btn-primary">{% trans 'Envoyer le message' %}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- conact us form fluid end -->


{% endblock content %}