{% extends base_template %}
{% load static %}
{% load i18n %}
{% block content %}

    <!-- start breadcrumb area -->
    <div class="rts-breadcrumb-area breadcrumb-bg bg_image">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 breadcrumb-1">
                    <h1 class="title">{% trans "Appointment" %}</h1>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="bread-tag">
                        <a href="index.html">{% trans "Home" %}</a>
                        <span> / </span>
                        <a href="#" class="active">{% trans "Appointment" %}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb area -->


    {% comment %} <!-- rts circle progress area -->
    <div class="rts-circle-progress-area rts-section-gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single progress area -->
                    <div class="single-circle-progress-inner">
                        <!-- single -->
                        <div class="progress red">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">85%</div>
                        </div>
                        <!-- single -->
                        <h5 class="title">Quality Service</h5>
                    </div>
                    <!-- single progress area End -->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single progress area -->
                    <div class="single-circle-progress-inner">
                        <!-- single -->
                        <div class="progress red">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                        <!-- single -->
                        <h5 class="title">Skilled Members</h5>
                    </div>
                    <!-- single progress area End -->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single progress area -->
                    <div class="single-circle-progress-inner">
                        <!-- single -->
                        <div class="progress red">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">78%</div>
                        </div>
                        <!-- single -->
                        <h5 class="title">Happy Customers</h5>
                    </div>
                    <!-- single progress area End -->
                </div>
                <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                    <!-- single progress area -->
                    <div class="single-circle-progress-inner">
                        <!-- single -->
                        <div class="progress red">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">79%</div>
                        </div>
                        <!-- single -->
                        <h5 class="title">Project Fails</h5>
                    </div>
                    <!-- single progress area End -->
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- rts circle progress area End -->

    <!-- contact area start -->
    <div class="rts-contact-form-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rts-contact-fluid rts-section-gap">
                        <div class="rts-title-area contact-fluid text-center mb--50">
                            <p class="pre-title">
                                {% trans "demende" %}
                            </p>
                            <h2 class="title"> {% trans "Besoin d'un travail ? Demandez-nous" %}</h2>
                        </div>
                        <div class="form-wrapper">
                            <div id="success-message">
					            {% include 'message.html' %}
                            </div>
                            <form action="{% url 'core:hiring' %}" method="post">
                                {% csrf_token %}
                                <div class="name-email">
                                    <input type="text" placeholder="{% trans "Your Name" %}" name="name">
                                    <input type="email" placeholder="{% trans "Email Address" %}" name="email">
                                    
                                </div>
                                
                                <div class="name-email">
                                    <input type="tel" placeholder=" {% trans "Phone Number" %} " name="phone">
                                    <input type="date" placeholder=" {% trans "birth date" %}  " name="birth_date">
                                    
                                </div>
                                <div class="name-email">
                                    <input type="text" placeholder="{% trans "Birth place" %}" name="birth_place">
                                    
                                    
                                </div>
                                <div class="name-email">
                                    <fieldset>
                                        <legend>{% trans "Permis:" %}</legend>
                                      
                                        <div>
                                          <input type="radio" id="huey" name="permis" value="true" checked />
                                          <label for="huey">{% trans "YES" %}</label>
                                        </div>
                                      
                                        <div>
                                          <input type="radio" id="dewey" name="permis" value="false" />
                                          <label for="dewey">{% trans "NO" %}</label>
                                        </div>
                                      
                                        
                                      </fieldset>
                                      <div class="name-email">
                                        <fieldset>
                                            <legend>{% trans "Passeport" %}</legend>
                                          
                                            <div>
                                              <input type="radio" id="huey1" name="passeport" value="true" checked />
                                              <label for="huey1">{% trans "YES" %}</label>
                                            </div>
                                          
                                            <div>
                                              <input type="radio" id="dewey1" name="passeport" value="false" />
                                              <label for="dewey1">{% trans "NO" %}</label>
                                            </div>
                                          
                                            
                                          </fieldset>
                                          
                                    </div>
                                    <div class="name-email">
                                        <fieldset>
                                            <legend>{% trans "army:" %}</legend>
                                          
                                            <div>
                                              <input type="radio" id="huey2" name="army" value="true" checked />
                                              <label for="huey2">{% trans "YES" %}</label>
                                            </div>
                                          
                                            <div>
                                              <input type="radio" id="dewey2" name="army" value="true" />
                                              <label for="dewey2">{% trans "NO" %}</label>
                                            </div>
                                          
                                          
                                          </fieldset>
                                          
                                    </div>
                                </div>
                               
                                <label for="pet-select">{% trans "Sélectionnez Votre Niveau d'études" %}</label>
                        
                                <select name="niveau" id="pet-select">
                                <option value="">{% trans "--Please choose an option--" %}</option>
                                    <option value="S1">{% trans "Cycle Moyen" %}</option>
                                    <option value="S2">{% trans "Niveau Secondaire" %}</option>
                                    <option value="S3">{% trans "Niveau Terminal" %}</option>
                                    <option value="S4">{% trans "Formation Professionnelle" %}</option>
                                    <option value="S5">{% trans "Baccalauréat" %}</option>
                                    <option value="S6">{% trans "Niveau Universitaire" %}</option>
                                </select>
                               
                        
                               
                                
                               
                                <textarea placeholder="Experience" name="message"></textarea>
                                
                                <label for="file">{% trans "CV" %}</label>
                                 <div class="name-email">
                                   
                                    <input type="file" placeholder="the CV file" name="cv_file">
                                </div> 
                                <button type="submit" class="rts-btn btn-primary">{% trans "SUBMIT" %}</button> {% comment %} <input type="select" placeholder="your level " name="niveau"> {% endcomment %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} <!-- rts team two area -->
    <div class="rts-team-area rts-section-gapTop appoinment-team  team-two">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rts-title-area team text-center">
                        <p class="pre-title">
                            Professionals Team
                        </p>
                        <h2 class="title">Professionals Team</h2>
                    </div>
                </div>
            </div>
            <div class="row g-5 mt--10">
                <!-- single team -->
                <div class="col-lg-4">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a href="team-details.html" class="thumbnail">
                            <img src="{% static 'images/team/tm/lg-01.jpg' %}" alt="">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a href="team-details.html">
                                    <h5 class="title">Kevin Martin</h5>
                                </a>
                                <span>Consultant</span>
                            </div>
                            <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>
                <!-- single team End -->
                <!-- single team -->
                <div class="col-lg-4">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a href="team-details.html" class="thumbnail">
                            <img src="{% static 'images/team/tm/lg-02.jpg' %}" alt="">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a href="team-details.html">
                                    <h5 class="title">Martin Jone</h5>
                                </a>
                                <span>Business</span>
                            </div>
                            <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>
                <!-- single team End -->
                <!-- single team -->
                <div class="col-lg-4">
                    <!-- single team inner -->
                    <div class="team-inner-two">
                        <a href="team-details.html" class="thumbnail">
                            <img src="{% static 'images/team/tm/lg-03.jpg' %}" alt="">
                        </a>
                        <!-- Acquaintance area -->
                        <div class="acquaintance-area">
                            <div class="header">
                                <a href="team-details.html">
                                    <h5 class="title">Jone Lee</h5>
                                </a>
                                <span>CEO</span>
                            </div>
                            <div class="acquaintance-social">
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <!-- Acquaintance area -->
                    </div>
                    <!-- single team inner End -->
                </div>
                <!-- single team End -->
            </div>
        </div>
    </div> {% endcomment %}
    <!-- rts team two area End -->

{% endblock content %}