
{% extends base_template %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info for LANGUAGE_CODE as lang %}
{% get_language_info_list for LANGUAGES as languages %}

{% block content %}
    <!-- banner blank space area -->
    <div class="rts-banner-area rts-banner-one">
        <div class="swiper mySwiper banner-one">
            <div class="swiper-wrapper">
                <div class="swiper-slide" >
                    <!-- banner single content -->
                    <div class="banner-one-inner ">
                        <p class="pre-title">
                            <span>{% trans 'Bienvenue' %}!</span> {% trans 'Chez Yasser Global Security' %}
                        </p>
                        <h1 class="title ">{% trans 'Votre Sécurité' %} <span> 
                            {% trans 'Notre Priorité' %}</span> <br>
                            </h1>
                        {% comment %} <p class="disc banner-para">
                            Porttitor ornare fermentum aliquam pharetra facilisis gravida risus suscipit <br> Dui
                            feugiat
                            fusce conubia ridiculus tristique parturient
                        </p> {% endcomment %}
                        <a href="{% url 'core:hiring' %}" class="rts-btn btn-primary color-h-black">{% trans '   Rejoignez-nous' %}</a>
                        <img class="shape-img one" src="{% static 'rtl/images/banner/shape/01.png' %}" alt="banner_business">
                    </div>
                    <!-- banner single content end -->
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
        <div class="animation-img">
            <img class="shape-img two" src="{% static 'rtl/images/banner/shape/02.png' %}" alt="banner_business">
            <img class="shape-img three" src="{% static 'rtl/images/banner/shape/03.png' %}" alt="banner_business">
        </div>
    </div>
    <!-- banner blank space area end -->

    <!-- rts about us section start -->
    <div class="rts-about-area rts-section-gap bg-about-sm-shape">
        <div class="container">
            <div class="row g-5 align-items-center">
                <!-- about left -->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-1 order-md-2 order-sm-2 order-2 mt_md--50 mt_sm--50">
                    <div class="rts-title-area">
                        <p class="pre-title">
                            
                        </p>
                        <h2 class="title">{% trans 'Assurer une protection de qualité' %}

                        </h2>
                    </div>
                    <div class="about-inner">
                        <p class="disc">
                           {% trans " Pour la sécurité de votre patrimoine et de vos personnels contre toutes formes de menaces." %}
                        </p>
                        <!-- start about success area -->
                        <div class="row about-success-wrapper">
                            <!-- left wrapper start -->
                            <div class="col-">
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">{% trans 'Audit & conseil' %}</p>
                                </div>
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">{% trans 'Surveillance et sécurité' %}</p>
                                </div>
                                <div class="single">
                                    <i class="far fa-check"></i>
                                    <p class="details">{% trans 'Transport de fonds et produits sensibles' %}</p>
                                </div>
                            </div>
                        </div>
                        <!-- start about success area -->

                        <!-- about founder & get in touch start -->
                        <div class="row about-founder-wrapper align-items-center mt--40">
                            <!-- left area start -->
                            <div class="col-">
                                <div class="author-call-option">
                                    <img class="authore-call" src="{% static 'rtl/images/about/call.svg' %}" alt="call_founder">
                                    <div class="call-details">
                                        <span>{% trans 'Call us anytime' %}</span>
                                        <a href="tel:{{business.phone}}">
                                            <h6 class="title">{{business.phone}}</h6>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!-- left area end -->
                            <!-- right founder area -->
                            {% comment %} <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_sm--20">
                                <div class="author-call-option">
                                    <img class="authore-call" src="{% static 'rtl/images/about/call.svg' %}" alt="call_founder">
                                    <div class="call-details">
                                        <span>{% trans 'Call us anytime' %}</span>
                                        <a href="tel:{{business.phone}}">
                                            <h6 class="title">{{business.phone}}</h6>
                                        </a>
                                    </div>
                                </div>
                            </div> {% endcomment %}
                            <!-- left founder area -->
                        </div>
                        <!-- about founder & get in touch end -->
                    </div>
                </div>
                <!-- about right -->

                <!-- about-right Start-->
                <div class="col-lg-6 col-md-12 col-sm-12 col-12 order-lg-2 order-md-1 order-sm-1 order-1">
                    <div class="about-one-thumbnail">
                        <img src=" {% static 'images/about1.png' %}" alt="about-finbiz">
                        <img class="small-img" src="{% static 'images/ab2.png' %}" alt="finbiz-small">
                        <div class="experience">
                            <div class="left single">
                                <h2 class="title">{% trans "25+" %}</h2>
                                <p class="time">{% trans "Années" %}</p>
                            </div>
                            <div class="right single">
                                <p class="disc">
                                    D'expérience
                                    en protégeant
                                    service
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- about-right end -->
            </div>
        </div>
    </div>
    <div class="rts-service-area rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rts-title-area service text-center">
                        <p class="pre-title">
                            {% trans 'Nos Services' %}
                        </p>
                        <h2 class="title text-capitalize">{% trans 'Préstations de haute qualité' %}</h2>
                    </div>
                </div>
            </div>
        </div>
        {% comment %} 
        
        Suite à votre demande veuillez trouver ci-dessus les services 

La surveillance et sécurité des sites sensibles.
La sûreté des établissements recevant du public.
La sûreté évènementielle.
Sécurisation du transport de fonds et produits sensibles.
Audit et conseil.
        
        {% endcomment %}
        <div class="container-fluid service-main plr--120-service mt--50 plr_md--0 pl_sm--0 pr_sm--0">
            <div class="background-service row">
                <!-- start single Service -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service-one-inner one">
                        <div class="thumbnail">
                            <img src="{% static 'rtl/images/service/icon/01.svg' %}" alt="finbiz_service">
                        </div>
                        <div class="service-details">
                            <a href="service-details.html">
                                <h5 class="title">{% trans "surveillance et sécurité des sites sensibles" %}</h5>
                            </a>
                            <p class="disc">
                                {% trans "Protection spécialisée pour des lieux critiques, assurant une sécurité constante." %}

                            </p>
                            {% comment %} <a class="rts-read-more btn-primary" href="service-details.html"><i
                                    class="far fa-arrow-right"></i>Read
                                More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!-- end single Services -->
                <!-- start single Service -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service-one-inner two">
                        <div class="thumbnacolil">
                            <img src="{% static 'rtl/images/service/icon/02.svg' %}" alt="finbiz_service">
                        </div>
                        <div class="service-details">
                            <a href="service-details.html">
                                <h5 class="title">{% trans "Sûreté des établissements recevant du public (ERP)" %} </h5>
                            </a>
                            <p class="disc">
                               {% trans " Mise en place de dispositifs de sécurité pour garantir la sérénité des visiteurs." %}

                            </p>
                            {% comment %} <a class="rts-read-more btn-primary" href="service-details.html"><i
                                    class="far fa-arrow-right"></i>Read
                                More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service-one-inner three">
                        <div class="thumbnail">
                            <img src="{% static 'rtl/images/service/icon/03.svg' %}" alt="finbiz_service">
                        </div>
                        <div class="service-details">
                            <a href="service-details.html">
                                <h5 class="title">{% trans "Sûreté évènementielle" %}</h5>
                            </a>
                            <p class="disc">
                                {% trans "Adaptation de la sécurité à chaque événement pour assurer un déroulement sans incident." %}
                            </p>
                            {% comment %} <a class="rts-read-more btn-primary" href="service-details.html"><i
                                    class="far fa-arrow-right"></i>Read
                                More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!-- end single Services -->
                <!-- start single Service -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service-one-inner four">
                        <div class="thumbnail">
                            <img src="{% static 'rtl/images/service/icon/04.svg' %}" alt="finbiz_service">
                        </div>
                        <div class="service-details">
                            <a href="service-details.html">
                                <h5 class="title">{% trans "Sécurisation du transport de fonds" %}</h5>
                            </a>
                            <p class="disc">
                                {% trans "Service de transfert sécurisé garantissant la protection des fonds en mouvement." %}
                            </p>
                            {% comment %} <a class="rts-read-more btn-primary" href="service-details.html"><i
                                    class="far fa-arrow-right"></i>Read
                                More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!-- end single Services -->
                <!-- start single Service -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service-one-inner five">
                        <div class="thumbnail">
                            <img src="{% static 'rtl/images/service/icon/05.svg' %}" alt="finbiz_service">
                        </div>
                        <div class="service-details">
                            <a href="service-details.html">
                                <h5 class="title">{% trans "Audit & conseil" %}</h5>
                            </a>
                            <p class="disc">
                                {% trans "Évaluation des besoins en sécurité et recommandation de solutions adaptées." %}
                            </p>
                            {% comment %} <a class="rts-read-more btn-primary" href="service-details.html"><i
                                    class="far fa-arrow-right"></i>Read
                                More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!-- end single Services -->
                <!-- start single Service -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="service-one-inner six">
                        <div class="thumbnail">
                            <img src="{% static 'rtl/images/service/icon/06.svg' %}" alt="finbiz_service">
                        </div>
                        <div class="service-details">
                            <a href="service-details.html">
                                <h5 class="title">{% trans "Sécurisation des produits sensibles" %}</h5>
                            </a>
                            <p class="disc">
                               {% trans " Protocoles stricts pour garantir la sécurité des biens de grande valeur ou sensibles." %}
                            </p>
                            {% comment %} <a class="rts-read-more btn-primary" href="service-details.html"><i
                                    class="far fa-arrow-right"></i>Read
                                More</a> {% endcomment %}
                        </div>
                    </div>
                </div>
                <!-- end single Services -->
            </div>

        </div>
    </div>
    <!-- rts service post area ENd -->


    <!-- business goal area -->
    <div class="rts-business-goal mt--0 rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <!-- business goal left -->
                <div class="col-lg-6">
                    <div class="business-goal-one">
                        <img src="{% static 'images/1.jpg' %}" alt="Business_Goal">
                        {% comment %} <img class="small" src="{% static 'images/1.jpg' %}" alt="Business_Goal"> {% endcomment %}
                    </div>
                </div>
                <!-- business goal right -->

                <!-- right area business -->
                <div class="col-lg-6 mt--35 mt_md--70 mt_sm--70">
                    <div class="business-goal-right">
                        <div class="rts-title-area business text-start pl--30">
                            <p class="pre-title">
                                {% trans "JUSTE UNE PROTECTION" %}
                            </p>
                            <h2 class="title">{% trans "Nous savons sécuriser" %}
                                </h2>
                        </div>
                        <div class="rts-business-goal pl--30">
                            <div class="single-goal">
                                <img src="{% static 'rtl/images/business-goal/icon/01.svg' %}" alt="business_Icone" class="thumb">
                                <div class="goal-wrapper">
                                    <h6 class="title">{% trans "Meilleure entreprise de sécurisation" %}</h6>
                                    <p class="disc">{% trans "nous sommes la meilleure entreprise de sécurisation en Algérie" %}</p>
                                </div>
                            </div>
                            <div class="single-goal">
                                <img src="{% static 'rtl/images/business-goal/icon/02.svg' %}" alt="business_Icone" class="thumb">
                                <div class="goal-wrapper">
                                    <h6 class="title">{% trans "Assistance client 24h/24 et 7j/7" %}</h6>
                                    <p class="disc">{% trans "nous suivons toujours après notre service un support complet" %}</p>
                                </div>
                            </div>
                            <div class="goal-button-wrapper mt--70">
                                <a href="{% url 'core:contact' %}" class="rts-btn btn-primary color-h-black">{% trans "Contactez-nous" %}</a>
                                {% comment %} <div class="vedio-icone">
                                    <a id="play-video" class="video-play-button" href="#">
                                        <span></span>
                                        <span class="outer-text">Watch Video</span>
                                    </a>
                                    <div id="video-overlay" class="video-overlay">
                                        <a class="video-overlay-close">×</a>
                                    </div>
                                </div> {% endcomment %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- right area business ENd -->
            </div>
        </div>
    </div>
    <!-- business goal area End -->



    <!-- start trusted client section -->
    {% comment %} <div class="rts-trusted-client rts-section-gapBottom">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-area-client text-center">
                        <p class="client-title">Our Trusted Clients</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="client-wrapper-one">
                    <a href="#"><img src="{% static 'rtl/images/client/01.png' %}" alt="business_finbiz"></a>
                    <a href="#"><img src="{% static 'rtl/images/client/02.png' %}" alt="business_finbiz"></a>
                    <a href="#"><img src="{% static 'rtl/images/client/03.png' %}" alt="business_finbiz"></a>
                    <a href="#"><img src="{% static 'rtl/images/client/04.png' %}" alt="business_finbiz"></a>
                    <a href="#"><img src="{% static 'rtl/images/client/05.png' %}" alt="business_finbiz"></a>
                    <a href="#"><img src="{% static 'rtl/images/client/06.png' %}" alt="business_finbiz"></a>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- end trusted client section -->

    <!-- start team section -->
    <div class="rts-team-area rts-section-gap bg-team">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="rts-title-area team text-center">
                        <p class="pre-title">
                            
                   {% trans "Équipe de professionnels" %}
                        </p>
                        <h2 class="title">
                            {% trans "Équipe de professionnels" %}</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--45">
                <div class="col-12">
                    <div class="swiper mygallery mySwipers">
                        <div class="swiper-wrapper gallery">
                            <div class="swiper-slide">
                                <div class="row g-5 w-g-100">
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                        <div class="thumbnail-gallery">
                                            <img src="{% static 'images/2.png' %}" alt="business-images">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                        <div class="bg-right-gallery">
                                            <div class="icon">
                                                <img src="{% static 'images/13.png' %}" alt="Business-gallery">
                                            </div>
                                            <a href="#">
                                                <h4 class="title">{% trans "Surveillance et Sécurité" %}</h4>
                                            </a>
                                            <span></span>
                                            <p class="disc">{% trans "Notre équipe est composée de professionnels hautement qualifiés et expérimentés dans le domaine de la sécurité. Nous comprenons la complexité et les risques associés à la protection des sites" %}  </p>
                                            {% comment %} <a class="rts-btn btn-primary" href="project-details.html">View Project</a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row g-5 w-g-100">
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                        <div class="thumbnail-gallery">
                                            <img src="{% static 'images/3.jpg' %}" alt="business-images">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                        <div class="bg-right-gallery">
                                            <div class="icon">
                                                <img src="{% static 'images/13.png' %}" alt="Business-gallery">
                                            </div>
                                            <a href="#">
                                                <h4 class="title">{% trans "Sûreté des établissements" %}</h4>
                                            </a>
                                            <span></span>
                                            <p class="disc">{% trans "Notre équipe est composée de professionnels hautement qualifiés et expérimentés dans le domaine de la sécurité. Nous comprenons la complexité et les risques associés à la protection des sites" %}  </p>
                                            {% comment %} <a class="rts-btn btn-primary" href="project-details.html">View Project</a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row g-5 w-g-100">
                                    <div class="col-lg-7 col-md-12 col-sm-12 col-12">
                                        <div class="thumbnail-gallery">
                                            <img src="{% static 'images/1.jpg' %}" alt="business-images">
                                        </div>
                                    </div>
                                    <div class="col-lg-5 col-md-12 col-sm-12 col-12">
                                        <div class="bg-right-gallery">
                                            <div class="icon">
                                                <img src="{% static 'images/13.png' %}" alt="Business-gallery">
                                            </div>
                                            <a href="#">
                                                <h4 class="title">{% trans "Audit et Conseil" %}</h4>
                                            </a>
                                            <span></span>
                                            <p class="disc">{% trans "Afin de vous assister à gérer au mieux les problèmes de sécurité relevés au niveau de vos établissements après diagnostic, et ce, en mettant en place des dispositifs de sécurité adéquats. " %} </p>
                                            {% comment %} <a class="rts-btn btn-primary" href="project-details.html">View Project</a> {% endcomment %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end team section -->

    <!-- rts features area start -->
    <div class="rts-feature-area rts-section-gap">
        <div class="container-fluid padding-controler plr--120">
            <div class="row bg-white-feature  pt--120 pb--120">
                <div class="col-xl-6 col-lg-12">
                    <div class="feature-left-area">
                        <img src="{% static 'images/ab2.jpg' %}" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-12">
                    <div class="rts-title-area feature text-start pl--30 pl_sm--0">
                        <p class="pre-title">
                            
                        </p>
                        <h2 class="title feature-title">{% trans "Entreprise de sécurité la plus fiable " %}<br>
                            </h2>
                        <p>{% trans " Entreprise de sécurité de droit algérien, agréée par le Ministère de l'Intérieur, des Collectivités Locales et de l'Aménagement du Territoire" %}</p>

                    </div>

                    <div class="feature-one-wrapper pl--30 mt--40 pl_sm--0">
                        <div class="single-feature-one">
                            <i class="fal fa-check"></i>
                            <p>
                               {% trans " Sécurisation rapide" %} </p>
                        </div>
                        <div class="single-feature-one">
                            <i class="fal fa-check"></i>
                            <p>{% trans "Services de qualité 24h/24 et 7j/7" %}</p>
                        </div>
                        <div class="single-feature-one">
                            <i class="fal fa-check"></i>
                            <p>{% trans "Membres experts" %}</p>
                        </div>
                        <div class="single-feature-one">
                            <i class="fal fa-check"></i>
                            <p>{% trans "Services de la meilleure qualité" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts features area end -->


{% comment %} 
    <!-- blog area start -->
    <div class="rts-blog-area rts-section-gap bg-secondary">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="title-area text-center">
                        <span>Blog Posts</span>
                        <h2 class="title">News & Updates</h2>
                    </div>
                </div>
            </div>
            <div class="g-5 mt--20">
                <div class="swiper mySwiperh1_blog">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="single-blog-one-wrapper">
                                <div class="thumbnail">
                                    <img src="{% static 'rtl/images/blog/01.jpg' %}" alt="business_Blog">
                                    <div class="blog-badge">
                                        <span>25.05.2023</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <p><span>Business Solution </span>/ by David Dolean</p>
                                    <a href="blog-details.html">
                                        <h5 class="title">The quick settle tips of the new
                                            ages exist </h5>
                                    </a>
                                    <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                            class="far fa-arrow-right"></i>Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-blog-one-wrapper">
                                <div class="thumbnail">
                                    <img src="{% static 'rtl/images/blog/02.jpg' %}" alt="business_Blog">
                                    <div class="blog-badge">
                                        <span>25.05.2023</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <p><span>Business Solution </span>/ by David Dolean</p>
                                    <a href="blog-details.html">
                                        <h5 class="title">Old generation settle tips of the new
                                            ages upps ! </h5>
                                    </a>
                                    <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                            class="far fa-arrow-right"></i>Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="single-blog-one-wrapper">
                                <div class="thumbnail">
                                    <img src="{% static 'rtl/images/blog/03.jpg' %}" alt="business_Blog">
                                    <div class="blog-badge">
                                        <span>25.05.2023</span>
                                    </div>
                                </div>
                                <div class="blog-content">
                                    <p><span>Business Solution </span>/ by David Dolean</p>
                                    <a href="blog-details.html">
                                        <h5 class="title">Monkey Form settle tips of the new
                                            ages end </h5>
                                    </a>
                                    <a class="rts-read-more btn-primary" href="blog-details.html"><i
                                            class="far fa-arrow-right"></i>Read
                                        More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog area end --> {% endcomment %}



{% endblock content %}
