{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_seo %}
        <title>{{business.title}}</title>
        <meta name="keywords" content="{{business.meta_keyword}}">
        <meta name="description" content="{{business.meta_description}}">
        <meta name="author" content="{{business.name}}" />
        <meta name="robots" content="index,follow" />
        <meta name="apple-mobile-web-app-title" content="{{business.title}}">
        <meta name="application-name" content="{{business.name}}">
        <meta property="og:url" content="" />
        <meta property="og:title" content="{{business.title}}" />
        <meta property="og:type" content="Services" />
        <meta property="og:site_name" content="{{business.name}} | {{business.title}}"/>
        <title>{{business.title}}</title>
    {% endblock extra_seo %}
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/logo.png' %}">
        <link rel="stylesheet" href="{% static 'rtl/css/plugins/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'rtl/css/plugins/fontawesome-5.css' %}">
        <link rel="stylesheet" href="{% static 'rtl/css/plugins/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'rtl/css/plugins/unicons.css' %}">
        <link rel="stylesheet" href="{% static 'rtl/css/vendor/bootstrap.min.css' %}">

        <link rel="stylesheet" href="{% static 'rtl/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">


    </head>

    <body>

        <!-- start header area -->
        <!-- start header area -->
        <header class="header--sticky header-one ">
            <div class="header-top header-top-one bg-1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 d-xl-block d-none">
                            <div class="left">
                                {% if business.email %}
                                <div class="mail">
                                    <a href="mailto:webmaster@example.com"><i class="fal fa-envelope"></i> {{business.email}}</a>
                                </div>
                                {% endif %}
                                {% if business.work_start %}
                                <div class="working-time">
                                    <p><i class="fal fa-clock"></i> {% trans 'Horaires' %} :  {{business.work_start}} -  {{business.work_end}}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-lg-6 d-xl-block d-none">
                            <div class="right">
                                <ul class="top-nav">
                                       <li><a class="nav-item" href="{% url 'core:index' %}">{% trans 'Accueil' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:about' %}">{% trans 'A propos' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:services' %}">{% trans 'Nos Services' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:hiring' %}">{% trans 'Recrutement' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:contact' %}">{% trans 'Contact' %}</a></li>
                                </ul>
                                <ul class="social-wrapper-one">
                                    {% if business.facebook %}
                                    <li><a href="{{business.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                {% endif %}
                                {% if business.twitter %}
                                    <li><a href="{{business.twitter}}"><i class="fab fa-x"></i></a></li>
                                {% endif %}
                                {% if business.instagram %}
                                    <li><a href="{{business.instagram}}"><i class="fab fa-instagram"></i></a></li>
                                {% endif %}
                                {% if business.linkedin %}
                                    <li><a class="mr--0" href="{{business.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                                {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-main-one bg-white">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4">
                            <div class="thumbnail">
                                <a href="{% url 'core:index' %}">
                                    {% if  business.logo %}
                                    <img src="{{business.logo.url}}" class="header-logo" alt="{{business.name}}">
                                    {% endif %}
                                </a>
                            </div>
                        </div>
                        <div class=" col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8">
                            <div class="main-header">
                                <nav class="nav-main mainmenu-nav d-none d-xl-block">
                                    <ul class="mainmenu">
                                        <li><a class="nav-item" href="{% url 'core:index' %}">{% trans 'Accueil' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:about' %}">{% trans 'A propos' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:services' %}">{% trans 'Nos Services' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:hiring' %}">{% trans 'Recrutement' %}</a></li>
                                        <li><a class="nav-item" href="{% url 'core:contact' %}">{% trans 'Contact' %}</a></li>
                                    </ul>
                                    </ul>
                                </nav>
                                <div class="button-area">
                                    {% comment %} <button id="search" class="rts-btn btn-primary-alta"><i class="far fa-search"></i></button>
                                    <div class="search-input-area">
                                        <div class="container">
                                            <div class="search-input-inner">
                                                <div class="input-div">
                                                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                                                    <button><i class="far fa-search"></i></button>
                                                </div>
                                                <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
                                            </div>
                                        </div>
                                    </div> {% endcomment %}
                                    <a href="{% url 'core:quote' %}" class="rts-btn btn-primary ml--20 ml_sm--5 header-one-btn quote-btn">{% trans '   Rejoignez-nous' %}</a>
                            <button id="menu-btn" class="menu rts-btn btn-primary-alta ml--20 ml_sm--5">
                                <img class="menu-dark" src="{% static 'images/icon/menu.png' %}" alt="Menu-icon">
                                <img class="menu-light" src="{% static 'images/icon/menu-light.png' %}" alt="Menu-icon">
                            </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- End header area -->

        <div id="side-bar" class="side-bar">
            <button class="close-icon-menu"><i class="far fa-times"></i></button>
            <!-- inner menu area desktop start -->
            <div class="rts-sidebar-menu-desktop">
                {% if  business.logo %}
                <a class="logo-1" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
                <a class="logo-2" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
                <a class="logo-3" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
                <a class="logo-4" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
            {% endif %}
                <div class="body d-none d-xl-block">
                    <p class="disc">
                        {{business.mini_about|safe}}
                    </p>
                    <div class="get-in-touch">
                        <!-- title -->
                        <div class="h6 title">{% trans 'Contactez-nous' %}</div>
                        <!-- title End -->
                        <div class="wrapper">
                            <!-- single -->
                            <div class="single">
                                <i class="fas fa-phone-alt"></i>
                                <a href="tel:{{business.phone}}">{{business.phone}}</a>
                            </div>
                            <!-- single ENd -->
                            <!-- single -->
                            <div class="single">
                                <i class="fas fa-envelope"></i>
                                <a href="mailto:{{business.email}}">{{business.email}}</a>
                            </div>
                            <!-- single ENd -->
                            <!-- single -->
                            <div class="single">
                                <i class="fas fa-map-marker-alt"></i>
                                <a href="{{business.address_link}}">{{business.address}}</a>
                            </div>
                            <!-- single ENd -->
                        </div>
                        <div class="social-wrapper-two menu">
                            {% if business.facebook %}
                            <a href="{{business.facebook}}"><i class="fab fa-facebook-f"></i></a>
                        {% endif %}
                        {% if business.twitter %}
                            <a href="{{business.twitter}}"><i class="fab fa-twitter"></i></a>
                        {% endif %}
                        {% if business.instagram %}
                            <a href="{{business.instagram}}"><i class="fab fa-instagram"></i></a>
                        {% endif %}
                        {% if business.linkedin %}
                            <a href="{{business.linkedin}}"><i class="fab fa-linkedin"></i></a> 
                        {% endif %}
                            <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
                        </div>
                    </div>
                </div>
                <div class="body-mobile d-block d-xl-none">
                    <nav class="nav-main mainmenu-nav">
                        <ul class="mainmenu">
                            <li class="menu-item"><a class="menu-link" href="{% url 'core:index' %}">{% trans 'Accueil' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'core:about' %}">{% trans 'A propos' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'core:contact' %}">{% trans 'Nos Services' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'core:services' %}">{% trans 'Recrutement' %}</a></li>
                            <li class="menu-item"><a class="menu-link" href="{% url 'core:hiring' %}">{% trans 'Contact' %}</a></li>
                        </ul>
                    </nav>
                    <div class="social-wrapper-two menu mobile-menu">
                        {% if business.facebook %}
                        <a href="{{business.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if business.twitter %}
                        <a href="{{business.twitter}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if business.instagram %}
                        <a href="{{business.instagram}}"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if business.linkedin %}
                        <a href="{{business.linkedin}}"><i class="fab fa-linkedin"></i></a> 
                    {% endif %}
                        <!-- <a href="#"><i class="fab fa-linkedin"></i></a> -->
                    </div>
                    <a href="{% url 'core:quote' %}" class="rts-btn btn-primary ml--20 ml_sm--5 header-one-btn quote-btnmenu">{% trans 'Demander un devis' %}</a>
                </div>
            </div>
            <!-- inner menu area desktop End -->
        </div>
        <div class="search-input-area">
            <div class="container">
                <div class="search-input-inner">
                    <div class="input-div">
                        <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                        <button><i class="far fa-search"></i></button>
                    </div>
                </div>
            </div>
            <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
        </div>
        <div id="anywhere-home"></div>
        <!-- ENd Header Area -->

{% block content %}
    
{% endblock content %}
    


        <!-- start header area -->
        <!-- rts footer area start -->
        <div class="rts-footer-area footer-one rts-section-gapTop bg-footer-one">
            <div class="container bg-shape-f1">
                <!-- rts footer area -->
                <div class="row pt--120 pt_sm--80 pb--80 pb_sm--40">
                    <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                        <div class="footer-one-single-wized">
                            <div class="wized-title">
                                <h5 class="title">{% trans 'Liens rapides' %}</h5>
                                <img src="{% static 'images/footer/under-title.png' %}" alt="finbiz_footer">
                            </div>
                            <div class="quick-link-inner">
                                <ul class="links">
                                    <li><a  href="{% url 'core:index' %}"><i class="far fa-arrow-right"></i>{% trans 'Accueil' %}</a></li>
                                    <li><a  href="{% url 'core:about' %}"><i class="far fa-arrow-right"></i>{% trans 'A propos' %}</a></li>
                                    <li><a  href="{% url 'core:services' %}"><i class="far fa-arrow-right"></i>{% trans 'Nos Services' %}</a></li>
                                </ul>
                                <ul class="links margin-left-70">
                                    <li><a  href="{% url 'core:contact' %}"><i class="far fa-arrow-right"></i>{% trans 'Contact' %}</a></li>
                                    <li><a  href="{% url 'core:hiring' %}"><i class="far fa-arrow-right"></i>{% trans 'Recrutement' %}</a></li>
                                    <li><a  href="{% url 'core:quote' %}"><i class="far fa-arrow-right"></i>{% trans 'Demander un devis' %}</a></li>
                            
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- footer mid area -->
                    <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                        <div class="footer-one-single-wized mid-bg">
                            <div class="wized-title">
                                <h5 class="title">{% trans 'Horaires' %}</h5>
                                <img src="{% static 'images/footer/under-title.png' %}" alt="finbiz_footer">
                            </div>
                            <div class="opening-time-inner">
                                <div class="single-opening">
                                    <p class="day">{% trans 'Jours de semaine' %}</p>
                                    <p class="time">{{business.work_start }} - {{business.work_end}}</p>
                                </div>
                                {% comment %} <div class="single-opening">
                                    <p class="day">Saturday</p>
                                    <p class="time">08:00 - 03.00</p>
                                </div>
                                <div class="single-opening mb--30 mb_sm--10">
                                    <p class="day">Sunday</p>
                                    <p class="time">Day Off</p>
                                </div> {% endcomment %}
                                <a href="{% url 'core:contact' %}" class="rts-btn btn-primary contact-us">{% trans 'Contactez-nous' %}</a>
                            </div>
                        </div>
                    </div
                    <!-- footer mid area end -->

                    <!-- footer end area post -->
                    <div class="col-xl-4 col-md-6 col-sm-12 col-12">
                        <div class="footer-one-single-wized margin-left-65">
                            <div class="wized-title">
                                <h5 class="title">{{business.name}}</h5>
                                <img src="{% static 'images/footer/under-title.png' %}" alt="finbiz_footer">
                            <div class="post-wrapper">
                                <!-- single post -->
                                <div class="single-footer-post mb--30">
                                    
                                    
                                    <div class="post-right">
                                        <p class="title">{{business.mini_about}}</p>
                                        
                                    </div>
                                </div>
                                <!-- single post End -->
                            </div>
                        </div>
                    </div>
                    <!-- footer end area post end-->
                </div>
                <!-- rts footer area End -->
            </div>
            <!-- copyright area start -->
            <div class="rts-copyright-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="text-center">
                                <p> Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droits resérvé <a href="https://www.octopus-consulting.com/" target="_blank"> Octopus Consulting</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- copyright area end -->
        </div>
        <!-- rts footer area end -->
        <!-- ENd Header Area -->


        <!-- start loader -->
        <div class="loader-wrapper">
            <div class="loader">
            </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
        <!-- End loader -->

        <!-- progress Back to top -->
        <div class="progress-wrap">
            <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
                <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
            </svg>
        </div>
        <!-- progress Back to top End -->


        <!-- scripts start form hear -->
        <script src="{% static 'rtl/js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'rtl/js/vendor/jqueryui.js' %}"></script>
        <script src="{% static 'rtl/js/vendor/waypoint.js' %}"></script>
        <script src="{% static 'rtl/js/plugins/swiper.js' %}"></script>
        <script src="{% static 'rtl/js/plugins/counterup.js' %}"></script>
        <script src="{% static 'rtl/js/plugins/sal.min.js' %}"></script>
        <script src="{% static 'rtl/js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'rtl/js/plugins/contact.form.js' %}"></script>
        <!-- main Js -->
        <script src="{% static 'rtl/js/main.js' %}"></script>
        <!-- scripts end form hear -->
    </body>

</html>
