{% load static %}
{% load i18n %}
<!DOCTYPE html>
    <html lang="{{ request.LANGUAGE_CODE }}">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block extra_seo %}
			<title>{{business.title}}</title>
			<meta name="keywords" content="{{business.meta_keyword}}">
			<meta name="description" content="{{business.meta_description}}">
			<meta name="author" content="{{business.name}}" />
			<meta name="robots" content="index,follow" />
			<meta name="apple-mobile-web-app-title" content="{{business.title}}">
			<meta name="application-name" content="{{business.name}}">
			<meta property="og:url" content="" />
			<meta property="og:title" content="{{business.title}}" />
			<meta property="og:type" content="Services" />
			<meta property="og:site_name" content="{{business.name}} | {{business.title}}"/>
            <title>{{business.title}}</title>
		{% endblock extra_seo %}
		{% if business.favicon  %}
        <link rel="shortcut icon" type="image/x-icon" href="{{business.favicon.url}}">
		{% endif %}
        <link rel="canonical" href="" /><!-- add website robots-->
        <link rel="stylesheet" href="{% static 'css/plugins/swiper.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/fontawesome-5.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/plugins/unicons.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    </head>
    <body>

        <!-- start header area -->
        <!-- start header area -->
        {% include 'header.html' %}
        <!-- End header area -->

        {% comment %} <div id="anywhere-home">
        </div> {% endcomment %}
        <!-- ENd Header Area -->

        {% block content %}
        
        {% endblock content %}


        {% include 'footer.html' %}
        
        <!-- scripts start form hear -->
        <script src="{% static 'js/vendor/jquery.min.js' %}"></script>
        <script src="{% static 'js/vendor/jqueryui.js' %}"></script>
        <script src="{% static 'js/vendor/waypoint.js' %}"></script>
        <script src="{% static 'js/plugins/swiper.js' %}"></script>
        <script src="{% static 'js/plugins/counterup.js' %}"></script>
        <script src="{% static 'js/plugins/sal.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/plugins/contact.form.js' %}"></script>
        <!-- main Js -->
        <script src="{% static 'js/main.js' %}"></script>
        <!-- scripts end form hear -->
    </body>
    </html>
