{% load static %}
{% load i18n %}
<header class="header--sticky header-one ">
    <div class="header-top header-top-one bg-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 d-xl-block d-none">
                    <div class="left">
                        {% if business.email %}
                            <div class="mail">
                                <a href="mailto:webmaster@example.com"><i class="fal fa-envelope"></i> {{business.email}} </a>
                            </div>
                        {% endif %}
                        {% if business.work_start %}
                        <div class="working-time">
                            <p><i class="fal fa-clock"></i> {% trans 'Horaires' %} :  {{business.work_start}} -  {{business.work_end}}</p>
                        </div>
                        {% endif %}

                    </div>
                </div>
                <div class="col-lg-6 d-xl-block d-none">
                    <div class="right">
                        <ul class="top-nav">
                            <li><a href="{% url 'core:index' %}">{% trans 'Accueil' %}</a></li>
                            <li><a href="{% url 'core:services' %}">{% trans 'Recrutement' %}</a></li>
                            <li><a href="{% url 'core:hiring' %}">{% trans 'Contact' %}</a></li>
                        </ul>
                        <ul class="social-wrapper-one">
                            {% if business.facebook %}
                                <li><a href="{{business.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                            {% endif %}
                            {% if business.twitter %}
                                <li><a href="{{business.twitter}}"><i class="fab fa-x"></i></a></li>
                            {% endif %}
                            {% if business.instagram %}
                                <li><a href="{{business.instagram}}"><i class="fab fa-instagram"></i></a></li>
                            {% endif %}
                            {% if business.linkedin %}
                                <li><a class="mr--0" href="{{business.linkedin}}"><i class="fab fa-linkedin-in"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-main-one bg-white">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-4 col-4">
                    <div class="thumbnail">
                        <a href="{% url 'core:index' %}">
                            {% if  business.logo %}
                                <img src="{{business.logo.url}}" class="header-logo" alt="{{business.name}}">
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class=" col-xl-9 col-lg-8 col-md-8 col-sm-8 col-8">
                    <div class="main-header">
                        <nav class="nav-main mainmenu-nav d-none d-xl-block">
                            <ul class="mainmenu">
                                <li><a class="nav-item" href="{% url 'core:index' %}">{% trans 'Accueil' %}</a></li>
                                <li><a class="nav-item" href="{% url 'core:about' %}">{% trans 'A propos' %}</a></li>
                                <li><a class="nav-item" href="{% url 'core:contact' %}">{% trans 'Nos Services' %}</a></li>
                                <li><a class="nav-item" href="{% url 'core:services' %}">{% trans 'Recrutement' %}</a></li>
                                <li><a class="nav-item" href="{% url 'core:hiring' %}">{% trans 'Contact' %}</a></li>
                            </ul>
                        </nav>
                        <div class="button-area">
                            <a href="#" class="rts-btn btn-primary ml--20 ml_sm--5 header-one-btn quote-btn">{% trans 'Demander un devis' %}</a>
                            <button id="menu-btn" class="menu rts-btn btn-primary-alta ml--20 ml_sm--5">
                                <img class="menu-dark" src="{% static 'images/icon/menu.png' %}" alt="Menu-icon">
                                <img class="menu-light" src="{% static 'images/icon/menu-light.png' %}" alt="Menu-icon">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header> 



<div id="side-bar" class="side-bar">
    <button class="close-icon-menu"><i class="far fa-times"></i></button>
    <!-- inner menu area desktop start -->
    <div class="rts-sidebar-menu-desktop">
            {% if  business.logo %}
                <a class="logo-1" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
                <a class="logo-2" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
                <a class="logo-3" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
                <a class="logo-4" href="{% url 'core:index' %}"><img class="logo" src="{{business.logo.url}}" alt="{{business.name}}"></a>
            {% endif %}
            <div class="body d-none d-xl-block">
            <p class="disc">
                {{business.mini_about|safe}}
            </p>
            <div class="get-in-touch">
                <!-- title -->
                <div class="h6 title">{% trans 'Contactez-nous' %}</div>
                <!-- title End -->
                <div class="wrapper">
                    <!-- single -->
                    <div class="single">
                        <i class="fas fa-phone-alt"></i>
                        <a href="tel:{{business.phone}}">{{business.phone}}</a>
                    </div>
                    <!-- single ENd -->
                    <!-- single -->
                    <div class="single">
                        <i class="fas fa-envelope"></i>
                        <a href="mailto:{{business.email}}">{{business.email}}</a>
                    </div>
                    <!-- single ENd -->
                    <!-- single -->
                    <div class="single">
                        <i class="fas fa-map-marker-alt"></i>
                        <a href="{{business.address_link}}">{{business.address}}</a>
                    </div>
                    <!-- single ENd -->
                </div>
                <div class="social-wrapper-two menu">
                    {% comment %} <a href="#"><i class="fab fa-whatsapp"></i></a> {% endcomment %}
                    {% if business.facebook %}
                        <a href="{{business.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if business.twitter %}
                        <a href="{{business.twitter}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if business.instagram %}
                        <a href="{{business.instagram}}"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if business.linkedin %}
                        <a href="{{business.linkedin}}"><i class="fab fa-linkedin"></i></a> 
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="body-mobile d-block d-xl-none">
            <nav class="nav-main mainmenu-nav">
                <ul class="mainmenu">
                   
                  
                    <li class="menu-item"><a class="menu-link" href="{% url 'core:index' %}">{% trans 'Accueil' %}</a></li>
                    <li class="menu-item"><a class="menu-link" href="{% url 'core:about' %}">{% trans 'A propos' %}</a></li>
                    <li class="menu-item"><a class="menu-link" href="{% url 'core:contact' %}">{% trans 'Nos Services' %}</a></li>
                    <li class="menu-item"><a class="menu-link" href="{% url 'core:services' %}">{% trans 'Recrutement' %}</a></li>
                    <li class="menu-item"><a class="menu-link" href="{% url 'core:hiring' %}">{% trans 'Contact' %}</a></li>
                </ul>
            </nav>
            <div class="social-wrapper-two menu mobile-menu">
                    {% if business.facebook %}
                        <a href="{{business.facebook}}"><i class="fab fa-facebook-f"></i></a>
                    {% endif %}
                    {% if business.twitter %}
                        <a href="{{business.twitter}}"><i class="fab fa-twitter"></i></a>
                    {% endif %}
                    {% if business.instagram %}
                        <a href="{{business.instagram}}"><i class="fab fa-instagram"></i></a>
                    {% endif %}
                    {% if business.linkedin %}
                        <a href="{{business.linkedin}}"><i class="fab fa-linkedin"></i></a> 
                    {% endif %}
                {% comment %} <a href="#"><i class="fab fa-whatsapp"></i></a> {% endcomment %}
            </div>
            <a href="#" class="rts-btn btn-primary ml--20 ml_sm--5 header-one-btn quote-btnmenu">{% trans 'Demander un devis' %}</a>
        </div>
    </div>
    <!-- inner menu area desktop End -->
</div>

<div class="search-input-area">
    <div class="container">
        <div class="search-input-inner">
            <div class="input-div">
                <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                <button><i class="far fa-search"></i></button>
            </div>
        </div>
    </div>
    <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
</div>